
<link rel="stylesheet" th:href="@{css/my.css}" />
<div th:fragment="leftnav" >
<nav >
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                首页
            </a>
        </li>
        <li>
            <a href="/user/userShow"><i class="fa fa-fw fa-list-alt"></i> 个人信息</a>
        </li>
        <li>
            <a href="/user/logout"><i class="fa fa-fw fa-list-alt"></i> 登出</a>
        </li>
    </ul>
</nav>
<audio id="notice" loop="loop">
    <source src="/mp3/song.mp3" type="audio/mpeg" />
</audio>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    提醒
                </h4>
            </div>
            <div class="modal-body" id = "al">
            </div>
            <div class="modal-footer">
                <button onclick="javascript:document.getElementById('notice').pause()" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                
            </div>
        </div>
    </div>
</div>

</div>