<div class="container"  style="height: 100px">
    <div class="row clearfix">
        <div class="col-md-12 column" id = "awm">
        <#if success??>
            <div class="alert alert-dismissable alert-danger" >
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    <strong>${success}</strong>
                </h4>
            </div>
        </#if>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script>
    setTimeout(function(){
        document.getElementById("awm").innerHTML = "";
    } , 3000);
</script>

</html>