<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en" th:replace="fragments/header :: header">
</head>

<!-- 顶部导航栏  -->
	<div th:replace="fragments/navbar :: navbarMenu"></div>
	
	<!-- 中  -->
	<div class="center">
	
		<!-- 左侧导航栏  -->
		<div th:replace="fragments/navbar :: navLeftSys"  ></div>
		
		<!-- 右侧内容  -->
		<div class="right">
			<h4>创建角色</h4>
			
			<form th:action="@{/admin/roleCreateSave}" method="post" class="form-horizontal" role="form" autocomplete="off" th:object="${roleForm}">
			
				
			
				<div class="form-group">    
			        <label class="control-label control-label-normal col-md-2">名称:</label>
			        <input type="text"  th:field="*{name}"> </input>
					<p th:if="${#fields.hasErrors('name')} " th:errors="*{name}" class="text-danger">name error</p>
			    </div>
			    
			    <div class="form-group"> 
			        <label class="control-label control-label-normal col-md-2">描述:</label>
			        <input type="text" th:field="*{descritpion}"> </input>
			        <p th:if="${#fields.hasErrors('descritpion')}" th:errors="*{descritpion}" class="text-danger">descritpion error</p>   
			    </div>
			    
			    <div class="form-group" > 
			        <label class="control-label control-label-normal col-md-2">权限:</label>
			    </div>
			    <div th:each="sysPermission:${sysPermissions}"  class="checkbox">
			        	<input name="perids"  type="checkbox" th:value="${sysPermission.id}" th:text="${sysPermission.url}+'('+${sysPermission.descritpion}+')'" > </input>
			    </div>
			    
			    
				<div class="form-group">
		    		<div class="col-sm-offset-2 col-sm-10">
		      			<button type="submit" class="btn btn-default">提交</button>
		    		</div>
		  		</div>
				
			</form>
		</div>
	
	<!-- 底部导航栏  -->
	<div th:replace="fragments/navbar :: navbarFooter"  ></div>	


</html>