<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	

    
    
    <bean id="mySessionAuthenticationStrategy" 
           class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">
       <constructor-arg  name="sessionRegistry"  ref="sessionRegistry"/>
       <property name="maximumSessions" value="1" /> 
    </bean>
    <bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
    
    <!-- <bean id="concurrencyFilter"
      class="org.springframework.security.web.session.ConcurrentSessionFilter">
        <property name="sessionRegistry" ref="sessionRegistry" />
        <property name="expiredUrl" value="/session-expired.htm" />
    </bean> -->
    
    <!--以下有问题-->
    <!-- <bean id="sas" class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy" >
        <constructor-arg name="sessionRegistry" ref="sessionRegistry" />
        <property name="maximumSessions" value="1"></property>
        <property name="exceptionIfMaximumExceeded" value="true"></property> 
        <property name="session-registry-ref" value="sessionRegistry"></property> 
    </bean>    

    <bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" /> 
        <bean id="fromLoginFilter"
        class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="sessionAuthenticationStrategy" ref="sas"/>此配置可实现获取所有登录用户信息
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="authenticationFailureHandler" ref="fromFailureHandler" />
        <property name="filterProcessesUrl" value="/old/login" />
    </bean> -->
</beans>