<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en" th:replace="fragments/header :: header">
</head>

<body>
<div>
	<!-- 顶部导航栏  -->
	<div th:replace="fragments/navbar :: navbarMenu"></div>
	
	<!-- 中  -->
	<div class="center">
	
		<!-- 左侧导航栏  -->
		<div th:replace="fragments/navbar :: navbarLeft"  ></div>
		
		<!-- 右侧内容  -->
		<div class="right">
			<div  sec:authorize="isAuthenticated()">
						登录名：<span sec:authentication="name"></span><br>
			        	角色：<span sec:authentication="principal.authorities"></span><br>
			        	Username：<span sec:authentication="principal.username"></span><br>
			        	昵称：<span sec:authentication="principal.nickname"></span><br>
			        	Password：<span sec:authentication="principal.password"></span><br>
			        	id:<span sec:authentication="principal.id"></span><br>
			        	email:<span sec:authentication="principal.email"></span><br>
			        	<p>拥有的角色：
			            <span sec:authorize="hasRole('ROLE_ADMIN')">管理员</span>
			            <span sec:authorize="hasRole('ROLE_USER')">用户</span>
			        	</p><br>
			        	认证状态：<span sec:authorize="isAnonymous()">匿名用户</span>
			        				<span sec:authorize="isAuthenticated()">认证用户</span><br><br>
			</div>
		</div>
	
	<!-- 底部导航栏  -->
	<div th:replace="fragments/navbar :: navbarFooter"  ></div>	
	
</body>
</html>
