<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en" th:replace="fragments/header :: header">
</head>

<body>
<div>
	<!-- 顶部导航栏  -->
	<div th:replace="fragments/navbar :: navbarMenu"></div>
	
	<!-- 中  -->
	<div class="center">
	
		<!-- 左侧导航栏  -->
		<div th:replace="fragments/navbar :: navLeftSys"  ></div>
		
		<!-- 右侧内容  -->
		<div class="right">
			<h4>活动目录组织单位列表</h4>
			<table class="table table-hover table-bordered table-striped">
		    	<thead>
		    	<tr>
		        	<th>dn</th>
		        	<th>名称</th>
		        	<th colspan="2">操作</th>
		    	</tr>
		    	</thead>
		    	<tbody>
		    	<tr th:each="ou : ${oulist}" class="info">
		        	<td><p th:text="${ou.dn}" /></td>
		        	<td><p th:text="${ou.name}" /></td>
		        		
		        	<td >
		                <a th:href="@{'/admin/personList?searchDn='+${ou.dn}}">查看</a>
		            </td>
		    	</tr>
		    	</tbody>
			</table>
            
		</div>
	</div>
	
	<!-- 底部导航栏  -->
	<div th:replace="fragments/navbar :: navbarFooter"  ></div>	
	
</div>
</body>
</html>


