<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en" th:replace="fragments/header :: header">
</head>

<body>
<div>
	<!-- 顶部导航栏  -->
	<div th:replace="fragments/navbar :: navbarMenu"></div>
	
	<!-- 中  -->
	<div class="center">
	
		<!-- 左侧导航栏  -->
		<div th:replace="fragments/navbar :: navLeftSys"  ></div>
		
		<!-- 右侧内容  -->
		<div class="right">
			<h4>权限列表</h4>
			<h5><a th:href="@{/admin/permissionCreate}" th:text="创建权限" /></h5>
			<table class="table table-hover table-bordered table-striped">
		    	<thead>
		    	<tr>
		        	<th>id</th>
		        	<th>描述</th>
		        	<th>链接</th>
		        	<th colspan="2">操作</th>
		    	</tr>
		    	</thead>
		    	<tbody>
		    	<tr th:each="permission : ${permissions}" class="info">
		    		<td><a th:href="@{'/admin/permissionGet?id='+${permission.id}}" th:text="${permission.id}"/></td>
		        	<td><p th:text="${permission.descritpion}" /></td>
		        	<td><p th:text="${permission.url}" /></td>
		        		
		        	<td >
		                <a th:href="@{'/admin/permissionDelete?id='+${permission.id}}">删除</a>
		                <a th:href="@{'/admin/permissionModify?id='+${permission.id}}">修改</a>
		            </td>
		    	</tr>
		    	</tbody>
			</table>
			<div class="pagination" >
				<a th:href="@{/admin/permissionList?pageNum=1}">首页</a>
				<a th:if="${permissions.isFirst()}" th:href="@{/admin/permissionList(pageNum=1,totalPages=${totalPages})}">[上一页]</a>
				<a th:if="${not permissions.isFirst()}" th:href="@{/admin/permissionList(pageNum=${pageNum-1},totalPages=${totalPages})}">[上一页]</a>
				<a th:if="${not permissions.isLast()}" th:href="@{/admin/permissionList(pageNum=${pageNum+1},totalPages=${totalPages})}">[下一页]</a>
				<a th:if="${permissions.isLast()}" th:href="@{/admin/permissionList(pageNum=${totalPages}-1,totalPages=${totalPages})}">[下一页]</a>
				<a th:href="@{/admin/permissionList(pageNum=${totalPages})}">尾页</a>
			</div>
		</div>
	
	<!-- 底部导航栏  -->
	<div th:replace="fragments/navbar :: navbarFooter"  ></div>	
	
</div>
</body>
</html>

